.wishing-panel{
	position: relative;
}

.wishing{
	--menu-bgclr: var(--clr-comet-dk);

	--active-bgclr: var(--clr-ecru);
	--settings-bgclr: var(--clr-comet-dkst);

	position: sticky;
	top: 0;
	display: grid;
	padding: 2em 1em;
	gap: 1.5em;
	background-color: var(--menu-bgclr);
}

.wishing__options, .wishing__btns{
	display: flex;
	gap: 1em;
	place-items: start;
}

.options__btn{
	height: 2.5em;
	padding: 0 0.75em;
}

.options__btn--active{
	--btn-bgclr: var(--active-bgclr);
}

.wishing__settings{
	border-radius: 0.5em;
	background-color: var(--settings-bgclr);
}

.settings__content{
	display: grid;
	padding: 0.75em;
	padding-left: 0;
	gap: 0.5em;
}

.wishing__btn{
	--btn-bgclr: var(--color);

	flex: 1;
	grid-auto-flow: row;
	padding: 0.5em;
}

.wishing__stars{
	font-size: 0.75em;
}

.preview{
	--wish-bgclr: var(--clr-ecru);
	--wish-img-bgclr: var(--clr-ecru-lt);
	--wish-val-bgclr: var(--clr-ecru-dk);

	display: grid;
	padding-top: 1em;
	gap: 0.75em;
	overflow: scroll;
}

.preview__content{
	display: grid;
	gap: 0.5em;
}

.wish{
	display: flex;
	place-items: center;
	gap: 1em;
	background-color: var(--wish-bgclr);
}

.wish__card{
	font-size: 1.25em;

	--size: 5em;

	display: grid;
	width: 9em;
	gap: 0.2em;
	place-items: center;
	background-color: var(--wish-img-bgclr);
}

.wish__values{
	font-size: 1.25em;

	display: flex;
	place-items: center;
	gap: 0.75em;
}

.wish__value{
	margin-right: 0.75em;
	padding: 1.5em;
	background-color: var(--wish-val-bgclr);
}

.wish__actions{
	display: flex;
	padding-left: 2em;
	gap: 1em;
}

.action__btn{
	aspect-ratio: 1;
}

.confirm{
	display: grid;
	padding: 1em;
	place-items: center;
}

/* Pop Up */
.popup{
	--popup-txclr: var(--clr-white);
	--popup-bgclr: var(--clr-comet-dkr);
	--popup-content-bgclr: hsla(0, 0%, 0%, 0.25);

	display: grid;
	place-items: end;
	background-color: var(--popup-bgclr);
}

.popup__content{
	display: grid;
	place-items: center;
	padding: 2em 0em;
	background-color: var(--popup-content-bgclr);
	color: var(--popup-txclr);
}

.cards{
	--cards-bgclr: var(--clr-comet);

	--card-txclr: var(--clr-comet-dk);
	--card-bgclr: var(--clr-ecru-lt);

	--tag-txclr: var(--clr-white);
	--tag-bgclr: color-mix(in hsl, var(--clr-black-dk) 60%, transparent);
	--max-txclr: var(--tag-bgclr);
	--max-bgclr: var(--clr-ecru-hg);

	--size: 6em;

	display: grid;
	place-content: space-evenly;
	gap: 0.8em;
	width: 90vw;
	grid-template-columns: repeat(auto-fit, var(--size));
}

.cards--featured{
	margin-bottom: 0.8em;
	padding: 0.8em;
	background-color: var(--cards-bgclr);
}

.card{
	position: relative;
	display: grid;
	grid-template-rows: var(--size) 1.75em;
	border-radius: 1em;
	overflow: hidden;
	background-color: var(--color);
}

.card--unchecked{
	opacity: 0.3;
}

.card__image{
	max-width: var(--size);
	aspect-ratio: 1;
}

.card__name{
	font-size: 0.8em;

	display: grid;
	place-content: center;
	padding: 0.2em;
	background-color: var(--card-bgclr);
	color: var(--card-txclr);
	line-height: 1;
	font-weight: bold;
	text-align: center;
}

.name--wpn{
	font-size: 0.7em;
}

.card__tag{
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	padding: 0.25em;
	gap: 0.2em;
	border-bottom-left-radius: 0.5em;
	background-color: var(--tag-bgclr);
	color: var(--tag-txclr);
	font-weight: bold;
}

.max{
	box-shadow: var(--shadow);
	background-color: var(--max-bgclr);
	color: var(--max-txclr);
}
