.inv{
	--section-bdclr: var(--clr-black);
	--section-footer-bgclr: var(--clr-black-lt);
	--section-btn-txclr: var(--clr-white);
	--section-btn-bgclr: var(--clr-comet);
	--section-btn-active-bgclr: var(--clr-comet-dk);
	
	--item-bgclr: var(--clr-white-dk);
	--item-alt-bgclr: var(--clr-white);
	--item-total-bgclr: var(--clr-ecru);

	--input-txclr: var(--clr-black);
	--input-focus-bgclr: var(--clr-black-dk);
	--input-focus-txclr: var(--clr-white-lt);

	display: flex;
	flex-direction: column;
	padding: 0.5em;
	gap: 0.5em;
}

.section{
	border-radius: 0.6em;
	padding-bottom: 1em;
	background-color: var(--section-footer-bgclr);
	overflow: hidden;
}

.section__btn{
	font-size: 1.5em;
	padding: 0.4em 0.6em;
	background-color: var(--section-btn-bgclr);
	color: var(--section-btn-txclr);
	cursor: pointer;
	font-weight: bold;
}

.active{
	background-color: var(--section-btn-active-bgclr);
}
  
.section__content{
	--num: 1;

	display: grid;
	grid-template-columns: repeat(var(--num), 1fr min-content);
	gap: 0.1em;
	background-color: var(--section-bdclr);
}

.section__content--s{
	--num: 3;
}

.item{
	--bgclr: var(--item-bgclr);

	display: grid;
	grid-column: span 2;
	grid-template-columns: subgrid;
	grid-auto-flow: column;
}

.item:nth-row(2n){
	background-color: red;
}

.item:nth-child(odd) {
	--bgclr: var(--item-alt-bgclr);
}

.item--total {
	--bgclr: var(--item-total-bgclr) !important;
}

.item__name {
	grid-column: 1;
	display: grid;
	place-content: center;
	padding: 0.8em;
	background-color: var(--bgclr);
	text-align: center;
}

.item__name--drops{
	font-size: 0.75em;
}

.item__cont{
	display: flex;
	gap: 0.1em;
}
  
.item__total{
	flex: 1;
	display: grid;
	place-items: center;
	padding: 0.8em;
	background-color: var(--bgclr);
	font-weight: bolder;
}
  
.item__card{
	display: grid;
	grid-template-rows: 5em 1em;
	place-items: center;
	width: 5em;
}
  
.item__card--img {
	display: block;
	width: 4em;
	aspect-ratio: 1;
	max-width: 4em;
	max-height: 4em;
}

.item__input {
	font-size: 0.8em;

	height: 100%;
	width: 100%;
	border-radius: 0;
	outline: none;
	color: var(--input-txclr);
	text-align: center;
}

.item__input:focus{
	background-color: var(--input-focus-bgclr);
	color: var(--input-focus-txclr);
}
