.inv {
	--inv_bg: var(--clr-charcoal);
	--inv_tx: var(--clr-void);
	--inv_title_tx: var(--clr-pearl);
	--inv_grid: var(--clr-void);
	--inv_even: var(--clr-porcelain);
	--inv_odd: var(--clr-lightgray);
	--inv_input_tx: var(--clr-black);
	--inv_focus_bg: var(--clr-void);
	--inv_focus_tx: var(--clr-white);
  
	--rem: 1rem;
  
	--lrem: calc(1*var(--rem));
  
	font-size: var(--rem);
  
  
	display: grid;
	gap: 0.5em;
	overflow: auto;
	grid-auto-flow: column;
	place-items: start;
  }
  
  .section {
	font-size: 1em;
  
	border-radius: 0.6em;
	padding-bottom: 1em;
	background-color: var(--inv_bg);
  }
  
  .section__title{
	font-size: 1em;
  
	padding: 0.2em 0.6em;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-color: var(--inv_bg);
	color: var(--inv_title_tx);
	font-weight: bold;
  }
  
  .section__table {
	font-size: 1em;
  
	display: grid;
	gap: 0.1em;
	grid-template-columns: min-content;
	grid-auto-columns: max-content;
	grid-auto-rows: calc(6*var(--lrem));
	background-color: var(--inv_grid);
  }
  
  .row {
	display: contents;
	background-color: var(--inv_even);
  }
  
  .row:nth-child(odd) {
	background-color: var(--inv_odd);
  }
  
  .row > * {
	grid-row: inherit;
	display: grid;
	background-color: inherit;
	place-items: center;
	text-align: center;
	color: var(--inv_tx);
  }
  
  .row__name {
	font-size: 1em;
  
	grid-column: 1;
	padding: 0.8em;
  }
  
  .row__total {
	font-size: 1em;
  
	grid-column: 2;
	padding: 0.8em;
	font-weight: bolder;
  }
  
  .row__card {
	font-size: var(--lrem);
  
	width: 5em;
	grid-template-rows: 5em 1em;
	background-color: transparent;
  }
  
  .row__card--img {
	font-size: 1em;
  
	display: block;
	max-width: 4em;
	max-height: 4em;
  }
  
  .inv input {
	font-size: 0.8em;
  
	height: calc(1 *var(--lrem));
	min-width: calc(5 *var(--lrem));
	max-width: calc(5 *var(--lrem));
	border-radius: 0;
	outline: none;
	background-color: inherit;
	color: var(--inv_input_tx);
	text-align: center;
  }
  
  .inv input:focus{
	color: var(--inv_focus_tx);
	background-color: var(--inv_focus_bg);
  }
  