.inv{
	--section-bdclr: var(--clr-black);
	--section-footer-bgclr: var(--clr-gray-dk);
	--section-btn-txclr: var(--clr-black);
	--section-btn-bgclr: var(--clr-ecru);
	--section-btn-alt-bgclr: var(--clr-ecru-dk);
	--section-btn-active-txclr: var(--clr-white);
	--section-btn-active-bgclr: var(--clr-comet);
	
	--item-bgclr: var(--clr-white-dk);
	--item-alt-bgclr: var(--clr-white);
	--item-total-bgclr: var(--clr-ecru);

	--input-txclr: var(--clr-black);
	--input-focus-bgclr: var(--clr-black-dk);
	--input-focus-txclr: var(--clr-white-lt);

	display: flex;
	flex-direction: column;
	padding: 0.5em;
	gap: 0.5em;
}

.section{
	border-radius: 0.6em;
	padding-bottom: 1em;
	background-color: var(--section-footer-bgclr);
	overflow: hidden;
}

.section__btn{
	font-size: 1.5em;
	padding: 0.4em 0.6em;
	background-color: var(--section-btn-bgclr);
	color: var(--section-btn-txclr);
	cursor: pointer;
	font-weight: bold;
}

.section:nth-child(even) .section__btn{
	background-color: var(--section-btn-alt-bgclr);
}

.accordion:after{
  content: "\25B2";
	float: right;
	transform: rotate(180deg);
	transition: all 0.35s;
}

.accordion.active:after{
	transform: rotate(0);
}

.active{
	background-color: var(--section-btn-active-bgclr) !important;
	color: var(--section-btn-active-txclr) !important;
}
  
.section__content{
	--num: 1;

	display: grid;
	grid-template-columns: repeat(var(--num), 1fr min-content);
	gap: 0.1em;
	background-color: var(--section-bdclr);
}

.section__content--s{
	--num: 3;
}

.item{
	--bgclr: var(--item-bgclr);

	display: grid;
	grid-column: span 2;
	grid-template-columns: subgrid;
	grid-auto-flow: column;
}

.item:nth-child(odd) {
	--bgclr: var(--item-alt-bgclr);
}

.item--total {
	--bgclr: var(--item-total-bgclr) !important;
}

.item__name {
	position: relative;
	grid-column: 1;
	display: grid;
	place-content: center;
	padding: 0.8em;
	background-color: var(--bgclr);
	text-align: center;
}

.item__name--drops{
	font-size: 0.75em;
}

.item__btn{
	--btn-bdclr: var(--input-txclr);

	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

.item__cont{
	display: flex;
	gap: 0.1em;
}
  
.item__total{
	flex: 1;
	display: grid;
	place-items: center;
	padding: 0.8em;
	background-color: var(--bgclr);
	font-weight: bolder;
}
  
.item__card{
	display: grid;
	grid-template-rows: 5em 1em;
	place-items: center;
	width: 5em;
}
  
.item__card--img {
	display: block;
	width: 4em;
	aspect-ratio: 1;
	max-width: 4em;
	max-height: 4em;
}

.item__input {
	font-size: 0.8em;

	height: 100%;
	width: 100%;
	border-radius: 0;
	outline: none;
	color: var(--input-txclr);
	text-align: center;
}

.item__input:focus{
	background-color: var(--input-focus-bgclr);
	color: var(--input-focus-txclr);
}

/* Pop Up */
.popup{
	--popup-txclr: var(--clr-comet-dk);
	--popup-bgclr: var(--clr-ecru);
	--popup-content-bgclr: hsla(0, 0%, 0%, 0.25);

	--det-input-txclr: var(--clr-black);
	--det-input-bgclr: var(--clr-white-lt);
	--det-input-focus-txclr: var(--clr-white-lt);
	--det-input-focus-bgclr: var(--clr-black);

	--adder-bgclr: var(--clr-white);
	--adder-txclr: var(--clr-black);
	--adder-shadowclr: var(--clr-black);

	display: grid;
	place-items: end;
	background-color: var(--popup-bgclr);
}

.popup__content{
	display: grid;
	place-items: center;
	padding: 2em 1em;
	gap: 2em;
	background-color: var(--popup-content-bgclr);
	color: var(--popup-txclr);
}

.adder__content{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	place-self: stretch;
	place-content: center;
	gap: 0.75em;
	padding: 0 1em;
	padding-bottom: 2em;
	box-shadow: inset 0 -2em 1em -2em var(--adder-shadowclr);
}

.adder__card{
	display: grid;
	place-items: center;
}

.adder__card--img{
	padding: 0.5em;
	width: 7.5em;
	height: 7.5em;
}

.adder__input{
	padding: 0.75em;
	background-color: var(--adder-bgclr);
}

.adder__input input{
	font-size: 1.5em;

	width: 100%;
	border-radius: 0.25em;
	padding: 0.25em;
	background-color: var(--color);
	color: var(--adder-txclr);
	text-align: center;
	font-weight: bolder;
}

.adder__input input:focus{
	color: var(--color);
	background-color: var(--adder-txclr);
}
