body{
	--section-bdclr: var(--clr-ecru);
	--section-table-bgclr: var(--clr-comet);
	--section-table-bdclr: var(--clr-ecru);
	--section-footer-bgclr: var(--clr-comet-lt);

	--section-title-txclr: var(--clr-ecru-lt);
	--section-title-bgclr: var(--clr-comet-ltst);
	--section-title-active-txclr: var(--clr-ecru);
	--section-title-active-bgclr: var(--clr-comet-dkr);

	--card-txclr: var(--clr-comet-dk);
	--card-bgclr: var(--clr-ecru-lt);
	--card-shadowclr: var(--clr-black);
	--card-color-txclr: var(--clr-white);
	--card-domain-txclr: var(--clr-ecru);

	--filter: none;
}

.home{
	--gap: 0.5em;

	display: grid;
	gap: var(--gap);
	padding-top: var(--gap);
	grid-template-columns: minmax(min-content, 1.5fr) minmax(min-content, 1fr);
	grid-auto-flow: dense;
	place-items: start stretch;
}

.group{
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.group-domain, .group-gems{
	grid-column: span 2;
}

.break{
	display: none;
}

.section{
	padding-bottom: 1em;
	border-radius: 0.5em;
	border: 0.01em solid var(--section-bdclr);
	border-bottom: none;
	background-color: var(--section-footer-bgclr);
}

.section__title{
	font-size: 1.2em;

	padding: 0.3em 0.6em;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-color: var(--section-title-bgclr);
	color: var(--section-title-txclr);
	cursor: pointer;
	font-weight: bold;
}

.active{
	background-color: var(--section-title-active-bgclr) !important;
	color: var(--section-title-active-txclr) !important;
}

.section__table{
	--table-gap: 0.1em;

	display: grid;
	grid-template-columns: 1fr repeat(5, max-content);
	place-items: stretch;
	row-gap: var(--table-gap);
	background-color: var(--section-table-bgclr);
}

.row{
	height: 6em;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	column-gap: var(--table-gap);
}

.row.domain{
	order: -1;
}

.row.domain:not(:has(~ .domain)){
	padding-bottom: var(--table-gap);
	border-bottom: 0.3em solid var(--section-table-bdclr);
}

.completed{
	opacity: 0.5;
}

.section__table:not(.details) .row.completed{
	display: var(--filter, inherit);
}

.row > *{
	display: grid;
	place-items: center;
	text-align: center;
}

.row__name{
	place-content: center;
	padding: 0 0.2em;
	gap: 0.2em;
	background-color: var(--card-bgclr);
	color: var(--card-txclr);
	font-weight: bold;
	white-space: pre-wrap;
}

.row__total{
	padding: 0 0.2em;
	background-color: var(--card-bgclr);
	color: var(--card-txclr);
}

.row__card{
	order: 1;
	width: 5em;
	grid-template-columns: auto auto;
	grid-template-rows: 5em 1em;
	color: var(--card-txclr);
}

.row__card--img{
	grid-column: span 2;
	max-width: 4em;
	max-height: 4em;
}

.row__card .p{
	font-size: 0.9em;
}

.row__card--inv{
	justify-self: end;
	font-weight: bolder;
}

.row__card--need{
	justify-self: start;
}

.row__total .p{
	justify-self: center !important;
}

.row--long .row__card{
	grid-template-rows: 4em 1em 1em;
	grid-template-columns: 1fr;
}

.row--long .row__card--img{
	grid-column: span 1;
}

.row--long .p{
	width: 100%;
	background-color: var(--card-bgclr);
}

.cell-color{
	background-color: var(--color);
	color: var(--card-color-txclr);
	text-shadow: 0 0 0.7em var(--card-shadowclr);
}

.row.domain .cell-color{
	color: var(--card-domain-txclr);
}

/* Detail */
.popup{
	--popup-txclr: var(--clr-comet-dk);
	--popup-bgclr: var(--clr-ecru);
	--popup-content-bgclr: hsla(0, 0%, 0%, 0.25);

	--det-input-txclr: var(--clr-black);
	--det-input-bgclr: var(--clr-white-lt);
	--det-input-focus-txclr: var(--clr-white-lt);
	--det-input-focus-bgclr: var(--clr-black);

	--adder-bgclr: var(--clr-white);
	--adder-txclr: var(--clr-black);
	--adder-shadowclr: var(--clr-black);

	display: grid;
	place-items: end;
	background-color: var(--popup-bgclr);
}

.popup__content{
	display: grid;
	padding: 2em 1em;
	background-color: var(--popup-content-bgclr);
	gap: 4em;
}

.details{
	--lrem: 1rem;
	grid-template-rows: repeat(2, 6em);
}

.details--single{
	grid-template-rows: auto;
}

.details--long{
	grid-template-rows: repeat(2, auto);
}

.details .row{
	grid-row: 1 / -1;
}

.details .row--inv{
	grid-column: 3/-1;
	grid-row: 2;
	z-index: 1;
}

.details--single .row--inv{
	grid-row: 1;
	padding-left: 1em;
}

.details--single .row__card{
	--lrem: 2rem;
	font-size: 2em;
}

.details--long .row__card{
	--lrem: 1.5rem;
	font-size: 1.5em;
}

.row--long .row__total .p{
	text-align: end;
}

.details .row__name,
.details .row__total{
	font-size: 1.5em;
	grid-row: 1 / span 2;
	padding: 0 0.5em;
}

.row--inv input{
	font-size: 0.8em;
	
	height: calc(1 *var(--lrem));
	min-width: calc(5 *var(--lrem));
	max-width: calc(5 *var(--lrem));
	border-radius: 0;
	background-color: var(--det-input-bgclr);
	color: var(--det-input-txclr);
	text-align: center;
}

.row--inv input:focus{
	color: var(--det-input-focus-txclr);
	background-color: var(--det-input-focus-bgclr);
}

/* Adder */
.adder{
	display: grid;
	place-items: center;
	padding: 1em 0;
	gap: 1em;
	border-radius: 0.5em;
	background-color: var(--popup-bgclr);
	color: var(--popup-txclr);
}

.adder__title{
	font-size: 2em;
	font-weight: bolder;
}

.adder__content{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	place-self: stretch;
	place-content: center;
	gap: 0.75em;
	padding: 0 1em;
	padding-bottom: 2em;
	box-shadow: inset 0 -2em 1em -2em var(--adder-shadowclr);
}

.adder__card{
	display: grid;
	place-items: center;
}

.adder__card--img{
	padding: 0.5em;
	width: 7.5em;
	height: 7.5em;
}

.adder__input{
	padding: 0.75em;
	background-color: var(--adder-bgclr);
}

.adder input{
	font-size: 1.5em;

	width: 100%;
	border-radius: 0.25em;
	padding: 0.25em;
	background-color: var(--color);
	color: var(--adder-txclr);
	text-align: center;
	font-weight: bolder;
}

.adder input:focus{
	color: var(--color);
	background-color: var(--adder-txclr);
}

@media screen and (min-width: 767px){
	.home{
		grid-template-columns:
			minmax(min-content, 1.75fr)
			minmax(min-content, 1.75fr) minmax(min-content, 1fr);
		grid-template-rows: auto 1fr;
	}

	.group-domain, .group-gems{
		grid-column: 1;
	}

	.group-enemies, .group-singles{
		grid-row: span 2;
	}

	.row__name,
	.row__total{
		padding: 0 1em;
	}
}

@media screen and (min-width: 1024px){
	.home{
		grid-template-columns:
			minmax(min-content, 1fr)
			minmax(min-content, 0.5fr)
			minmax(min-content, 1fr);
		padding: var(--gap);
	}

	.group-singles{
		height: 100%;
		flex-wrap: wrap;
	}

	.group-singles > *{
		width: 50%;
	}

	.break{
		display: block;
  	flex-basis: 50%;
	}

	#RESOURCES, #BOSSES, .break{
		order: -1;
	}
}

@media screen and (min-width: 1248px){
	.home{
		grid-template-columns:
			minmax(min-content, 1.2fr)
			minmax(min-content, 1fr)
			minmax(min-content, 1fr);
	}

	.group-enemies{
		flex-direction: row;
		align-items: start;
	}

	.group-enemies > *{
		flex: 1;
	}
}

@media screen and (min-width: 1400px){
	.home{
		grid-template-columns:
			minmax(min-content, 1fr)
			minmax(min-content, 1.5fr)
			minmax(min-content, 1fr);
	}
}