.options{
	--options-bgclr: var(--clr-ecru-hg);

	--options-filter-bgclr: var(--clr-comet-lt);
	--options-filter-hover-bgclr: var(--clr-comet-ltst);
	--options-filter-active-bgclr: var(--clr-comet-dkr);
	--options-filter-active-hover-bgclr: var(--clr-gray-dk);

	--options-dir-bdclr: var(--clr-comet);

	--options-owned-txclr: var(--clr-white-dk);
	--options-owned-bgclr: var(--clr-comet-dkst);
	--options-owned-bdclr: var(--clr-ecru-lt);
	--options-owned-selected-txclr: var(--clr-ecru-dk);
	--options-owned-selected-bgclr: var(--clr-ecru-lt);

	font-size: 1.6em;

	display: grid;
	grid-template-columns: repeat(2, auto) 1fr;
	place-content: center;
	gap: 1em;
	padding: 0.75em;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	background-color: var(--options-bgclr);
}

.options__filters{
	display: flex;
	gap: 0.25em;
}

.options__wtype{
	--btn-bgclr: var(--options-filter-bgclr);
	--btn-hover-bgclr: var(--options-filter-hover-bgclr);

	--height: 2.5em;

	font-size: 1em;
	min-height: var(--height);
	border: 0;
	border-radius: 0.5em;
}

.active{
	--btn-bgclr: var(--options-filter-active-bgclr);
	--btn-hover-bgclr: var(--options-filter-active-hover-bgclr);
}

.options__wtype img{
	height: var(--height);
}

.options__direction{
	--btn-bdclr: var(--options-dir-bdclr);
	font-size: 1.25em;
	min-height: 0;
	height: 100%;
	padding: 0;
	line-height: 0;
}

.options__direction:after{
	content: "\25B2";
	transform: rotate(180deg);
}
  
.options__direction.asc:after{
	transform: rotate(0);
}

.options__owned{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: end;
	gap: 0;
	padding: 0.125em;
	border: 0.125em solid var(--options-owned-bdclr);
	border-radius: 0.7em;
	background-color: var(--options-owned-bgclr);
}

.owned__btn{
	--btn-txclr: var(--options-owned-txclr);
	--btn-bgclr: var(--options-owned-bgclr);
	font-size: 0.75em;
	min-height: 0;
	padding: 0 0.5em;
	border: 0;
	border-radius: 0.5em;
}

.selected{
	--btn-txclr: var(--options-owned-selected-txclr);
	--btn-bgclr: var(--options-owned-selected-bgclr);
	pointer-events: none;
}

/*TABLE*/
table{
	--table-txclr: var(--clr-black-dk);
	--table-bgclr: var(--clr-black);
	--table-bdclr: var(--clr-black);
	--table-shadowclr: color-mix(in hsl, var(--clr-black) 20%, transparent);

	--table-head-txclr: var(--clr-ecru);
	--table-head-bgclr: var(--clr-comet-dkr);

	--table-tag-txclr: var(--clr-white);
	--table-tag-bgclr: color-mix(in hsl, var(--clr-black-dk) 60%, transparent);
	--table-max-txclr: var(--table-tag-bgclr);
	--table-max-bgclr: var(--clr-ecru-hg);
	--table-type-txclr: var(--clr-black);
	--table-type-bgclr: color-mix(in hsl, var(--clr-white), transparent);

	--table-img-bgclr: color-mix(in hsl, var(--clr-black), transparent);
	
	--table-goal-txclr: var(--clr-white);

	position: relative;
	width: 100%;
	border-spacing: 0;
	background-color: var(--table-bgclr);
}

thead{
	position: sticky;
	top: 0;
	z-index: 1;
}

th{
	font-size: 1.2em;
	padding: 0.625em 0.2em;
	padding-bottom: 0.875em;
	border-right: 0.2em solid var(--table-shadowclr);
	background-color: var(--table-head-bgclr);
	color: var(--table-head-txclr);
	text-align: left;
}

.hdr--sort{
	position: relative;
	color: var(--table-head-bgclr);
	background-color: var(--table-head-txclr);
}

.hdr--sort:after{
	content: "\25B2";
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50%;
	transform: rotate(180deg);
}

.hdr--sort.asc:after{
	transform: rotate(0);
}

.clr-5{ background-color: var(--rank5); }
.clr-4{ background-color: var(--rank4); }
.clr-3{ background-color: var(--rank3); }

.missing{
	opacity: 0.6;
}

td{
	position: relative;
	place-items: center;
	border-right: 0.1em solid var(--table-shadowclr);
	border-bottom: 0.2em solid var(--table-bdclr);
	padding: 0 0.3em;
	color: var(--table-txclr);
	vertical-align: middle;
}

.wpn__farm{
	width: 1.5em;
	height: 1.5em;
	float: right;
}

.wpn__cell{
	padding: 0;
}

.wpn__img{
	display: block;
	width: 5em;
	height: 5em;
	object-fit: contain;
}

.wpn__img--small{
	font-size: 0.7em;
	background-color: var(--table-img-bgclr);
	border-radius: 100%;
}

.wpn__type{
	font-size: 0.75em;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.1em;
	border-top-left-radius: 0.5em;
	background-color: var(--table-type-bgclr);
	color: var(--table-type-txclr);
}

.wpn__tag{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	padding: 0.1em;
	gap: 0.2em;
	border-bottom-right-radius: 0.5em;
	background-color: var(--table-tag-bgclr);
	color: var(--table-tag-txclr);
	font-weight: bold;
}

.max{
	background-color: var(--table-max-bgclr);
	color: var(--table-max-txclr);
}

.wpn__user{
	display: flex;
	gap: 0.1em;
}

.goal{
	color: var(--table-goal-txclr);
}


@media screen and (min-width: 750px){
	.options__direction{
		aspect-ratio: 1;
	}
	
	.options__owned{
		gap: 0.25em;
	}

	.owned__btn{
		font-size: 1em;
	}

	table{
	  font-size: 1.5em;
	}

	th{
	  padding: 0.625em 0.5em;
	}

	.wpn__cell{
		padding: 0 0.3em;
	}

	.wpn__user{
		gap: 0.5em;
	}
}

@media screen and (min-width: 1024px){
	.options{
	  font-size: 2em;
		grid-template-columns: repeat(3, max-content);
		gap: 1.6em;
	}

	.options__owned{
		margin-left: 2em;
	}
  
	table{
	  font-size: 1.6em;
	}

	td, .wpn__cell{
		padding: 0 0.5em;
	}

	.wpn__img--small{
		font-size: 1em;
	}
}
