.compare{
	--select-txclr: var(--clr-comet);
	--select-bgclr: var(--clr-white);
	
	--table-bgclr: var(--clr-gray-dk);
	--table-head-txclr: var(--clr-ecru);
	--table-head-bgclr: var(--clr-comet-dkr);
	--table-card-bgclr: var(--clr-black-dk);
	--table-total-txclr: var(--clr-black);
	--table-total-bgclr: var(--clr-gray);

	--size: 5rem;

	display: grid;
	grid-template-columns: 0;
	grid-template-rows: 0;
	grid-auto-columns: min-content;
	grid-auto-rows: min-content;
	grid-auto-flow: dense;
	gap: 0.1em;
	height: 100%;
	overflow: auto;
	background-color: var(--table-bgclr);
}

.compare--rowG{grid-template-columns: min-content;}
.compare--colG{grid-template-rows: min-content;}

.cmp__stub{
	grid-area: 1/1/3/3;
	display: grid;
	place-items: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: var(--table-bgclr);
}

.select{
	appearance: none;
	width: var(--size);
	height: var(--size);
	padding: 0.5em;
	border-radius: 0.4em;
	background-color: var(--select-bgclr);
	color: var(--select-txclr);
}

.select--row{grid-area: 2/1;}
.select--col{grid-area: 1/2;}

.area{
	display: contents;
}

/* 
========================================
TABLE HEADERS
========================================
*/

.cmp__header{
	font-size: 1.6em;

	display: grid;
	place-content: center;
	position: sticky;
	background-color: var(--table-head-bgclr);
	color: var(--table-head-txclr);
	font-weight: bolder;
	text-align: center;
}

.cmp__header--row{
	grid-column: 2;
	left: 0;
}

.cmp__header--col{
	grid-row: 2;
	top: 0;
}

.area--group .cmp__header--row{
	left: var(--size);
}

.area--group .cmp__header--col{
	top: var(--size);
}

.cmp__header--rgroup{
	grid-column: 1;
	left: 0;
}

.cmp__header--cgroup{
	grid-row: 1;
	top: 0;
}

.cmp__header--row.cmp__header--total{
	grid-column: 1 / 3;
	left: 0
}

.cmp__header--col.cmp__header--total{
	grid-row: 1 / 3;
	top: 0
}

.cmp__header__image{
	max-width: var(--size);
	max-height: var(--size);
}

/* 
========================================
TABLE CELLS
========================================
*/

.cmp__cell{
	display: grid;
	grid-template-columns: min-content min-content;
	background-color: var(--table-card-bgclr);
	place-items: center;
	place-content: center;
}

.cmp__cell--line{
	grid-template-rows: min-content;
	grid-auto-flow: column;
	place-content: center start;
}

.card{
	--pad: 0.5em;

	width: var(--size);
	height: var(--size);
	padding: var(--pad);
}

.c_5{background-color: var(--rank5);}
.c_4{background-color: var(--rank4);}

.card__image{
	border-radius: 0.4em;
	max-width: calc(var(--size) - 2*var(--pad));
	max-height: calc(var(--size) - 2*var(--pad));
}

.total{
	font-size: 2em;
	
	display: grid;
	min-width: var(--size);
	min-height: var(--size);
	place-items: center;
	background-color: var(--table-total-bgclr);
	color: var(--table-total-txclr);
	font-weight: bolder;
}

.total--sum{
	background-color: var(--table-total-txclr);
	color: var(--table-total-bgclr);
}
