{% extends "admin/delete_confirmation.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs-app %}{% with is_custom=object.module %}
	{% url 'admin:app_list' app_label=opts.app_label as url %}
	&rsaquo; 
	{% if is_custom %}
		<a href="{{ url }}?sub={{is_custom}}">{{ is_custom|title }}</a>
	{% else %}
		<a href="{{ url }}">{{ opts.app_config.verbose_name }}</a>
	{% endif %}
{% endwith %}{% endblock %}

{% block breadcrumbs-model %}
	&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|title }}</a>
{% endblock %}

{% block breadcrumbs-obj %}
	&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
{% endblock %}

{% block breadcrumbs-action %}
	&rsaquo; {% translate 'Delete' %}
{% endblock %}