{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="options">
	<select id="select-sort" class="options__select" onchange="setSort(value)">
		<option disabled selected hidden>Sort by ...</option>
		<option value="0">Release Date</option>
		<option value="1">Name</option>
		<option value="2">Ascension</option>
		<option value="3">Rarity</option>
		<option value="4">Constellations</option>
	</select>
	<button id="direction" class="btn icon-box options__direction" onclick="toggleDirection(this)"></button>
	<div class="mode">
		<button class="js-mode btn icon-box mode__btn selected" onclick="switcher(this, false)">
			<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#view_module" /></svg>
		</button>
		<button class="js-mode btn icon-box mode__btn" onclick="switcher(this, true)" >
			<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#view_list" /></svg>
		</button>
	</div>
</div>

<div class="characters">
	<div id="char-grid" class="grid">
	</div>
	
	<table id="char-table" class="hide">
		<thead>
			<th onclick="setSort(1, this)"></th>
			<th id="hdr-name" class="row__r-border" onclick="setSort(2, this)">Name</th>
			<th onclick="setSort(3, this)">P</th>
			<th onclick="setSort(4, this)">N</th>
			<th onclick="setSort(5, this)">S</th>
			<th class="row__r-border" onclick="setSort(6, this)">B</th>
			<th onclick="setSort(7, this)">HP</th>
			<th onclick="setSort(8, this)">ATK</th>
			<th onclick="setSort(9, this)">DEF</th>
			<th onclick="setSort(10, this)">STAT</th>
		</thead>
		<tbody id="table__body"></tbody>
	</table>
</div>

{% endblock content %}