{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="options">
	<select class="options__select" onchange="getSort(value)">
		<option disabled selected hidden>Sort by ...</option>
		<option value="0">Release Date</option>
		<option value="1">Name</option>
		<option value="2">Ascension</option>
		<option value="3">Rarity</option>
		<option value="4">Constellations</option>
	</select>
	<button id="direction" class="btn icon-box options__direction" onclick="toggleDirection(this)"></button>
	<div class="mode">
		<button class="btn mode__btn icon-box selected" onclick="switcher(this, false)">
			<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#view_module" /></svg>
		</button>
		<button class="btn mode__btn icon-box" onclick="switcher(this, true)" >
			<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#view_list" /></svg>
		</button>
	</div>
</div>

<div class="characters">
	<div id="char-grid" class="grid">
	</div>
	
	<table id="char-table" class="hide">
		<thead>
			<th onclick="sortTable(this, 1)"></th>
			<th id="hdr-name" class="row__r-border" onclick="sortTable(this, 2)">Name</th>
			<th onclick="sortTable(this, 3)">P</th>
			<th onclick="sortTable(this, 4)">N</th>
			<th onclick="sortTable(this, 5)">S</th>
			<th class="row__r-border" onclick="sortTable(this, 6)">B</th>
			<th onclick="sortTable(this, 7)">HP</th>
			<th onclick="sortTable(this, 8)">ATK</th>
			<th onclick="sortTable(this, 9)">DEF</th>
			<th onclick="sortTable(this, 10)">STAT</th>
		</thead>
		<tbody id="table__body"></tbody>
	</table>
</div>

{% endblock content %}