{% extends "app/base.html" %}

{% block content %}

<div id='home' class="home">
	<div class="group group-domain">
		<section id="BOOKS" class="section section--total hide"></section>
		<section id="TROPHIES" class="section section--total hide"></section>
	</div>
	<div class="group group-gems">
		<section id="GEMS" class="section section--total hide"></section>
	</div>
	<div class="group group-enemies">
		<section id="ELITE" class="section section--total hide"></section>
		<section id="COMMON" class="section section--total hide"></section>
	</div>
	<div class="group group-singles">
		<section id="RESOURCES" class="section hide"></section>
		<section id="WEEKLY_DROPS" class="section hide"></section>
		<section id="BOSSES" class="section hide"></section>
		<div class="break"></div>
		<section id="LOCAL_SPECIALTIES" class="section hide"></section>
	</div>
</div>

{% endblock content %}