{% extends "app/base.html" %}

{% block content %}

<form class="inv">
	<section id="RESOURCES" class="section"></section>
	<section id="ENEMIES" class="section"></section>
	<section id="WEEKLY_DROPS" class="section"></section>
	<section id="BOSSES" class="section"></section>
	<section id="GEMS" class="section"></section>
	<section id="BOOKS" class="section"></section>
	<section id="TROPHIES" class="section"></section>
	<section id="LOCAL_SPECIALTIES" class="section"></section>
</form>

{% endblock content %}