{% load static %}
<nav id="nav" class="nav">
	<div id="backdrop" onclick="closeNav()"></div>
	<aside class="nav__container">
		<section class="nav__content">
			<div class="nav__top">
				<button class="btn nav__btn icon-box" onclick="reset(); window.location.reload()">
					<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Reload" /></svg>
				</button>
				{% if user.is_authenticated %}
					<a class="nav__profile" href="#">
						<div class="btn btn--ii icon-box">
							<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Profile" /></svg>
						</div>
						<p class="nav__username" >{{user.username}}</p>
					</a>
				{% endif %}
			</div>
			<div class="nav__links">
				{% for page, link in nav.items %}{% url link as url %}
					<a
						{% if page == 'HOME' and request.path == "/" or url != "/" and url in request.path|urlencode %}
							href="javascript:void(0)" class=" nav__link nav__link--active"
						{% else %}
							href="{{ url }}" class="nav__link" 
						{% endif %}
					>
						<div class="icon-box">
							<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#{{ page }}" /></svg>
						</div>
						<p>{{ page|upper }}</p>
					</a>
				{% endfor %}
			</div>
			<div class="nav__bottom">
				{% if user.is_authenticated %}
					<form method="post" action="{% url 'logout' %}">{% csrf_token %}
						<button class="btn btn--clear icon-box" onclick="console.log('logout')" type="submit">
								<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Logout" /></svg>
						</button>
					</form>
				{% endif %}
			</div>
		</section>
	</aside>
</nav>

<header class="header">
	<button class="btn btn--clear icon-box" onclick="document.getElementById('resin-dialog').showModal()">
		<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Resin" /></svg>
	</button>
	<div class="switch hidden">
		<input type="checkbox" class="switch__input" onchange="toggleSwitch(this)" id="switch">
		<label class="switch__cont" for="switch">
			<div class="switch__slider icon-box">
				<svg class="icon switch__icon--unchecked"><use href="{%static 'app/assets/sprites.svg'%}#X" /></svg>
				<svg class="icon switch__icon--checked"><use href="{%static 'app/assets/sprites.svg'%}#Check" /></svg>
			</div>
		</label>
	</div>
	{% if user.is_authenticated %}
		<button class="btn header__btn" onclick="saveUser()">
			<div class="header__icon icon-box">
				<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Save" /></svg>
			</div>
			<div class="header__btn-txt">Save</div>
		</button>
	{% endif %}
</header>

<footer class="footer">
	<button class="footer__menu icon-box" onclick="openNav()">
		<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Menu" /></svg>
	</button>
	{% for page, link in nav.items %}
	{% if page|upper in "DASHBOARD INVENTORY PLANNER CHARACTERS WEAPONS" %}
		{% url link as url %}
		<a
			{% if page == 'HOME' and request.path == "/" or url != "/" and url in request.path|urlencode %}
				href="javascript:void(0)" class="footer__link footer__link--active"
			{% else %}
				href="{{ url }}" class="footer__link" 
			{% endif %}
		>
			<div class="icon-box">
				<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#{{ page }}" /></svg>
			</div>
		</a>
	{% endif %}{% endfor %}
</footer>
