{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="dets wpn" data-color={{ object.rarity }}>
	<a class="btn btn--clear icon-box dets__close" href="{% url 'app:weapons' %}">
		<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#X"/></svg>
	</a>

  <div class="dets__content">

		<div class="dets__banner">
			<div class="banner__overlay"></div>
			<img class="banner__img" data-img='WEAPON,{{ object.name }}'>
		</div>

    <div class="dets__info">
      <div>
        <div id="name" class="info__name">{{ object.name }}</div>
        <div class="info__editing">
					<div id="refinements" class="info__enhancements">
						<div id="refinement"></div>
						<div id="details" class="enhancement__details"></div>
					</div>
          <div id="modify" class="info__modify hide">
						<button onclick="minus(true)">*-*</button>
            <button onclick="plus(true)">*+*</button>
            <button onclick="minus()">-</button>
            <button onclick="plus()">+</button>
          </div>
        </div>
        <button id="edit" class="info__edit" onclick="editIn()">
          <svg id="pencil" viewBox="0 0 24 24"><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"></path></svg>
          <svg id="disk" class="hide" viewBox="0 0 24 24"><path d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"></path></svg>
        </button>
      </div>
      <div>
        <div data-stars={{ object.rarity }}></div>
        <div>{{ object.weapon_type }}</div>
      </div>
    </div>

		<div class="dets__data">

			<div class="data__inputs">
				<div class="input__farm">
					<input type="checkbox" id="FARM" onchange="update(this)">
					Farm
				</div>
				<div class="input__group phase">
					<div class="input__group__text">Phase</div>
					<input type="text" pattern="\d*" id="PHASE" onchange="update(this)" onclick="focusInput(event)">
					<input type="text" pattern="\d*" id="TARGET" onchange="update(this)" onclick="focusInput(event)">
				</div>
			</div>

			<div class="data__mats">
				<div class="mat__title">Materials</div>
				<div class="mat__img"><img data-img='TROPHIES,{{ object.trophy }}'></div>
				<div class="mat__img"><img data-img='ENEMIES,{{ object.elite }}'></div>
				<div class="mat__img"><img data-img='ENEMIES,{{ object.common }}'></div>
			</div>
			
			<div class="data__stats">
				<div>ATK</div>
				<div>{{ object.stat_atk }}</div>
				<div>{{ object.stat }}</div>
				<div>{{ object.stat_value }}</div>
			</div>

		</div>

  </div>
</div>

{% endblock content %}