{% extends "app/base.html" %}

{% block content %}

<div class="main">
	<input id="showAll" type="checkbox" onchange="makeWeapons()">
</div>

<div id="weapon-menu">
	<div class="options">
		<button class="owned" onclick="filterOwned(this)">Owned</button>
		<div class="filter-btn">
			<button onclick="filterWpn(this, 1)"><img></button>
			<button onclick="filterWpn(this, 2)"><img></button>
			<button onclick="filterWpn(this, 3)"><img></button>
			<button onclick="filterWpn(this, 4)"><img></button>
			<button onclick="filterWpn(this, 5)"><img></button>
		</div>
		<button class="arrow" onclick="sortTable(null, 0)">&udarr;</button>
	</div>

	<table id="table">
		<thead>
			<th onclick="sortTable(this, 1)"></th>
			<th onclick="sortTable(this, 2)"></th>
			<th onclick="sortTable(this, 3)">Name</th>
			<th onclick="sortTable(this, 4)">Phase</th>
			<th onclick="sortTable(this, 10)">Type</th>
			<th onclick="sortTable(this, 5)">ATK</th>
			<th onclick="sortTable(this, 6)">Stat</th>
			<th onclick="sortTable(this, 6)">Value</th>
			<th onclick="sortTable(this, 7)">TRP</th>
			<th onclick="sortTable(this, 8)">ELT</th>
			<th onclick="sortTable(this, 9)">CMN</th>
		</thead>
		<tbody id="weapons"></tbody>
	</table>

</div>

{% endblock content %}