{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="wishing-panel">

<div class="wishing">
	<div class="wishing__options">
		<div class="wishing__settings">
			<button class="btn options__btn" onclick="toggleSettings(this)">
				<div class="icon-box">
					<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#Settings" /></svg>
				</div>
			</button>
			<div id="wishing-settings" class="settings__content hide">
				<button class="btn" onclick="showChecks('5C')">Standard Characters</button>
				<button class="btn" onclick="showChecks('5W')">Standard Weapons</button>
				<button class="btn" onclick="showChecks('4W')">Wishable Weapons</button>
			</div>
		</div>
		<button class="btn options__btn" onclick="showChecks('4C')">Set Featured</button>
	</div>
	<div class="wishing__btns">
		<button class="btn wishing__btn" onclick="showWish(true,5)" data-color="5">
			<div class="icon-box">
				<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#CHARACTERS" /></svg>
			</div>
			<span class="wishing__stars" data-stars="5"></span>
		</button>
		<button class="btn wishing__btn" onclick="showWish(false,5)" data-color="5">
			<div class="icon-box">
				<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#WEAPONS" /></svg>
			</div>
			<span class="wishing__stars" data-stars="5"></span>
		</button>
		<button class="btn wishing__btn" onclick="showWish(true,4)" data-color="4">
			<div class="icon-box">
				<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#CHARACTERS" /></svg>
			</div>
			<span class="wishing__stars" data-stars="4"></span>
		</button>
		<button class="btn wishing__btn" onclick="showWish(false,4)" data-color="4">
			<div class="icon-box">
				<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#WEAPONS" /></svg>
			</div>
			<span class="wishing__stars" data-stars="4"></span>
		</button>
	</div>
</div>

<div class="preview" id="preview">
</div>

<div class="confirm hide" id="confirm">
	<button class="btn" onclick="f()">
		<div class="icon-box">
			<svg class="icon"><use href="{%static 'app/assets/sprites.svg'%}#WISHING" /></svg>
		</div>
		<div>Add</div>
	</button>
</div>

</div>

{% endblock content %}
