.list{
	--list-txclr: var(--clr-ecru);
	--list-bgclr: var(--clr-comet);
	--list-bgclr2: var(--clr-comet-lt);

	--return-txclr: var(--clr-ecru-lt);

	--notes-txclr: var(--clr-ecru);
	--notes-bgclr: var(--clr-comet-dkr);
	--notes-bdclr: var(--clr-ecru);

	display: grid;
	gap: 1.5em;
	padding: 1em;
	padding-top: 1.5em;
}

.list__options{
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 1.5em;
}

.return__btn{
	--btn-txclr: var(--return-txclr);
	--btn-bdclr: var(--return-txclr);
}

.list__notes{
	padding: 0.4em 1em;
	border: 0.1em solid var(--notes-bdclr);
	background-color: var(--notes-bgclr);
	color: var(--notes-txclr);
	text-align: center;
}

.list__container{
	display: grid;
	grid-template-columns: max-content max-content repeat(5, auto);
}

.list__item{
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;
	align-items: center;
	font-size: 1.4em;
	padding: 0.5em;
	padding-right: 0;
	background-color: var(--list-bgclr);
	color: var(--list-txclr);
}

.list__item:nth-child(even){
	background-color: var(--list-bgclr2);
}

.list__item *{
	margin-right: 0.5em;
}

.list__image{
	height: 2em;
	width: 2em;
}

