.planner{
	--planner-gap: 1em;

	--panel-txclr: var(--clr-white);

	--bar-bgclr: var(--clr-comet-dkr);
	--bar-btn-border: var(--clr-comet-ltst);

	--image-shadowclr: var(--clr-black);
	--image-size: 10em;

	--input-labelclr: color-mix(in hsl, var(--clr-black) 50%, transparent);
	--input-bgclr: color-mix(in hsl, var(--clr-black) 30%, transparent);
	--input-bgclr-lt: color-mix(in hsl, var(--clr-black) 70%, transparent);

	--farm-bdclr: var(--clr-black);
	--farm-need-bgclr: var(--clr-black);
	--farm-gap: 0.5em;

	display: flex;
	flex-direction: column;
	padding: var(--planner-gap);
	gap: calc(2*var(--planner-gap));
}

.planner__section{
	display: grid;
	gap: var(--planner-gap);
}

/* 
========================================
PANEL
========================================
*/

.planner__panel{
	border-radius: 0.75em;
	overflow: hidden;
	color: var(--panel-txclr);
}

.planner__panel--paused{
	filter: grayscale();
	opacity: 0.5;
}

.panel__bar{
	display: flex;
	place-items: center;
	padding: 0.75em 0.5em;
	gap: 0.5em;
	background-color: var(--bar-bgclr);
}

.panel__content{
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content 1fr;
	grid-auto-flow: dense;
	padding: 0.75em;
	gap: 0.75em;
	background-color: var(--color);
}

.panel__image-container, .panel__summary{
	display: flex;
	place-content: center;
	gap: 1.6em;
}

.panel__farming{
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding-top: 0.5em;
	border-top: 0.1em solid black;
}

/* 
========================================
PANEL ELEMENTS
========================================
*/

.panel__name{
	font-size: 1.6em;

	flex: 1;
	display: grid;
	place-content: center;
	text-align: center;
	font-weight: bold;
}

.panel__btn{
	--invert: 0;
	--btn-bdclr: var(--bar-btn-border);
	font-size: 1em;
	min-height: 0;
	border-width: 0.3em;
	border-radius: 0.5em;
}

.panel__image{
	width: var(--image-size);
	height: var(--image-size);
	border-radius: 0.75em;
	box-shadow: 0 0 0.75em var(--image-shadowclr);
}

.panel__inputs{
	font-size: 1.2em;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 3em));
	place-content: center;
	gap: 0.4em 1.5em;
}

.panel__label{
	grid-column: span 2;
	background: linear-gradient(to right, transparent, var(--input-labelclr) 25% 75%, transparent);
	/* color: black; */
	font-weight: bold;
	text-align: center;
}

.panel__input{
	border-radius: 2em;
	background-color: var(--input-bgclr);
	text-align: center;
}

.panel__input:nth-child(2n){
	background-color: var(--input-bgclr-lt);
}

.panel__farm{
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	gap: var(--farm-gap);
}

.panel__farm--divider{
	height: 0.1em;
	background-color: var(--farm-bdclr);
}

.panel__category{
	display: flex;
	gap: var(--farm-gap)
}

.material{
	display: grid;
	border-radius: 0.5em;
	place-items: center;
}

.material__image{
	width: 4em;
}

.material__need{
	font-size: 1em;
	opacity: 0.75;
	width: 100%;
	text-align: center;
	background-color: var(--farm-need-bgclr);
}

/* 
========================================
PANEL SIDE ALTERNATIVE
========================================
*/

.planner__panel--side .panel__image-container,
.planner__panel--side .panel__summary{
	grid-column: 1;
	display: grid;
}

.planner__panel--side .panel__farming{
	grid-column: auto;
	grid-row: span 2;
	padding-top: 0;
	border: none;
}
