:root{
	--input-txclr: var(--clr-black);
	--input-bgclr: var(--clr-white);
	--input-focus-txclr: var(--clr-white);
	--input-focus-bgclr: var(--clr-black);
	--insufficient-clr: var(--clr-red);
	--crafting-clr: var(--clr-cyan);
}

.page {
	--page-txclr: var(--clr-white);

	--page-header-bgclr: var(--clr-comet-dkr);
	--page-btn-bdclr: var(--clr-comet-ltst);

	--edit-labelclr: color-mix(in hsl, var(--clr-black), transparent);
	--edit-bgclr: color-mix(in hsl, var(--clr-black) 70%, transparent);

	--image-size: 6em;

	--inventory-bdclr: var(--clr-black);
	--inventory-border: 0.2em;

	--actions-bgclr: var(--clr-ecru);

	--required-bgclr: var(--clr-comet-dk);
	--required-inv-txclr: var(--insufficient-clr);
	--required-craft-txclr: var(--crafting-clr);

	--upgrade-txclr: var(--clr-ecru);
	--upgrade-title-txclr: var(--clr-ecru-lt);
	--upgrade-bdclr: var(--clr-white-dk);
	--upgrade-bgclr: color-mix(in hsl, var(--clr-black-dk), transparent);

	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: var(--page-txclr);
	background-color: var(--color);
}

/* 
========================================
PAGE HEADER
========================================
*/

.page__header{
	display: flex;
	place-items: center;
	padding: 0.5em 1.6em;
	gap: 1em;
	box-shadow: var(--shadow);
	background-color: var(--page-header-bgclr);
}

.page__image{
	width: var(--image-size);
	height: var(--image-size);
	border-radius: 0.75em;
}

.page__name{
	font-size: 2em;

	flex: 1;
	display: grid;
	place-content: center;
	text-align: center;
	font-weight: bold;
}

.page__close{
	--btn-bdclr: var(--page-btn-bdclr);
	border-width: 0.3em;
	border-radius: 100%;
}

.page__summary{
	list-style-type: none;
	cursor: pointer;
}
.page__summary::-webkit-details-marker {display:none}

.page__edit{
	display: flex;
	place-content: center;
	padding: 1em;
	gap: 1.6em;
	background-color: color-mix(in hsl, var(--page-header-bgclr), transparent);
}

.edit__inputs{
	font-size: 1.2em;
	display: grid;
	grid-template-columns: minmax(0, 3em) 1fr minmax(0, 3em);
	place-content: center;
	gap: 0.4em 0.2em;
}

.edit__label{
	grid-column: span 3;
	background: linear-gradient(to right, transparent, var(--edit-labelclr) 25% 75%, transparent);
	font-weight: bold;
	text-align: center;
}

.edit__arrow{
	display: grid;
	place-content: center;
	font-size: 0.5em;
}

.edit__input{
	border-radius: 2em;
	background-color: var(--edit-bgclr);
	text-align: center;
}

/* 
========================================
PAGE INVENTORY
========================================
*/

.page__inventory{
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	place-items: center;
	padding: 0.5em;
	gap: 0.5em;
}

.inventory__item-group{
	background-color: var(--inventory-bdclr);
	padding: var(--inventory-border);
}

.inventory__actions{
	display: flex;
	place-content: center;
	gap: 1em;
	background-color: var(--actions-bgclr);
}

.inventory__requirements, .inventory__materials{
	display: flex;
	column-gap: var(--inventory-border);
}

.inventory__btn{
	margin-bottom: 0.4em;
	border-radius: 100%;
}

.inventory__btn--craft{display: none}
.item-group--completed .inventory__btn{display: grid}
.item-group--obtained .inventory__btn{display: none}

.card{
	width: 5em;
}

.required{
	--inv-txclr: var(--required-inv-txclr);
	display: flex;
	place-content: center;
	gap: 0.3em;
	padding: 0.2em;
	background-color: var(--required-bgclr);
	line-height: 1;
	font-weight: bolder;
}

.required--long{
	place-content: end;
	flex-wrap: wrap;
	gap: 0.2em;
}

.required--long > *{
	font-size: 0.9em;
}

.required--completed{
	--inv-txclr: var(--required-craft-txclr);
}

.required--obtained{
	--inv-txclr: inherit;
	opacity: 0.5;
}

.required__inventory{
	color: var(--inv-txclr);
	text-align: right;
}

.required--long .required__inventory{
	width: 100%;
}

.material{
	display: grid;
}

.material__image{
	width: 100%;
}

.material__input{
	font-size: 1em;
	min-width: 100%;
	border-radius: 0;
	color: var(--input-txclr);
	background-color: var(--input-bgclr);
	text-align: center;
}

.material__input:focus{
	color: var(--input-focus-txclr);
	background-color: var(--input-focus-bgclr);
}

/* 
========================================
PAGE UPGRADE
========================================
*/

.page__upgrade{
	display: flex;
	place-content: center;
	padding: 1em;
	gap: 1em;
	color: var(--upgrade-txclr);
	background-color: var(--upgrade-bgclr);
	font-weight: bolder;
}

.upgrade--insufficient{
	--upgrade-title-txclr: var(--insufficient-clr);
	--upgrade-txclr: var(--insufficient-clr);
}

.upgrade__area, .upgrade__next{
	display: grid;
	place-content: center;
	place-items: center;
	padding: 1em;
	gap: 1em;
}

.upgrade__next{
	flex: 1;
	border-left: 0.1em solid var(--upgrade-bdclr);
}

.upgrade__title{
	font-size: 2em;
	color: var(--upgrade-title-txclr);
	text-align: center;
}

.upgrade__msg{
	display: grid;
	place-items: end;
	gap: 0.4em;
}

.upgrade__attribute{
	font-size: 1.6em;

	display: flex;
	gap: 0.5em;
	fill: var(--upgrade-txclr);
	color: var(--upgrade-txclr);
	text-wrap: nowrap;
}

.upgrade__attribute > *{
	text-wrap: nowrap;
}

.next__content{
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	place-items: center;
	padding: 0.5em;
	gap: 0.5em;
	border-radius: 0.5em;
	background-color: var(--upgrade-bgclr);
}

.upgrade__requirements{
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-flow: column;
	column-gap: 0.5em;
}

/* 
========================================
POP UP
========================================
*/

.popup{
	--popup-txclr: var(--clr-white);
	--popup-header-bgclr: var(--clr-comet-dkst);
	--popup-header-txclr: var(--clr-ecru);
	--popup-content-bgclr: hsla(0, 0%, 0%, 0.25);

	position: fixed;
	inset: 0;
	display: grid;
	max-height: 100vh;
	place-self: center;
	place-content: center;
	overflow: scroll;
	color: var(--popup-txclr);
	text-align: center;
}

.popup__header{
	font-size: 2em;
	padding: 0.5em;
	color: var(--popup-header-txclr);
	background-color: var(--popup-header-bgclr);
}

.popup__content{
	padding: 1em;
	background-color: var(--popup-content-bgclr);
}

.popup__footer{
	display: flex;
	place-content: center;
	padding: 1em;
	gap: 1em;
}

/* 
========================================
CRAFT
========================================
*/

.craft{
	--craft-bgclr: var(--clr-comet-lt);
	--craft-values-bgclr: var(--clr-comet-dkst);
	--craft-title-bgclr: var(--clr-comet-dkr);

	display: grid;
	place-items: center;
	gap: 1em;
}

.craft--color{
	background-color: var(--craft-bgclr);
}

.craft__values, .craft__bonus{
	display: flex;
	place-content: center;
	gap: 1em;
}

.craft__title{
	width: 100%;
	padding: 0.5em;
	background-color: var(--craft-title-bgclr);
	font-weight: bolder;
}

.craft__value{
	background-color: var(--craft-values-bgclr);
}

/* 
========================================
CONVERT
========================================
*/

.convert{
	--convert-values-bgclr: var(--clr-comet-dkst);
	--convert-title-bgclr: var(--clr-comet-dkr);

	--cols: 4;

	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(min-content, 1fr));
	place-items: center;
	gap: 0.5em 1em;
}

.convert--single{
	--cols: 1;
}

.convert--subgrid{
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;
	place-items: center;
}

.convert__inventory, .convert__materials{
	display: contents;
}

.convert__values{
	grid-column: 1/-1;
	display: contents;
}

.convert__title{
	font-size: 1.4em;

	grid-column: 1/-1;
	display: flex;
	width: 100%;
	padding: 0.25em;
	place-content: center;
	background-color: var(--convert-title-bgclr);
}

/* Convert Elements */
.convert__amount{
	padding: 0.5em;
	background-color: var(--convert-values-bgclr);
}

.convert__pick{
	padding: 0.5em;
	background-color: var(--convert-title-bgclr);
}

.convert__material{
	display: grid;
	grid-auto-columns: 1fr;
	background-color: black;
}

.convert__image{
	grid-column: span 2;
	width: 100%;
}

.convert__input{
	color: black;
	background-color: white;
	text-align: center;
	width: 100%;
}

/* 
========================================
UPGRADE PANEL
========================================
*/

.upgrade-panel{
	--header-bgclr: var(--clr-comet-dk);
	--content-bgclr: var(--clr-comet);

	--craft-values-bgclr: var(--clr-comet-dkst);
	--craft-title-bgclr: var(--clr-comet-dkr);

	--required-bgclr: var(--clr-comet-dk);
	--required-craft-txclr: var(--insufficient-clr);

	display: grid;
	grid-template-columns: auto auto;
	gap: 1em;
}

.upgrade-panel__crafting{
	grid-column: span 2;
}

.upgrade-panel__inventory{
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	place-items: center;
	gap: 0.5em;
}

.crafting__header{
	font-size: 1.4em;
	padding: 0.3em;
	background-color: var(--header-bgclr);
}

.crafting__cont{
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	padding: 0.5em;
	gap: 1em;
	background-color: var(--content-bgclr);
}
