.farm {
	--farm_tx: var(--clr-white);
	--shadow: var(--clr-void);
	--shade: rgba(26,26,26,0.75);
	--input: rgba(26,26,26,0.3);
	--input_tx: var(--clr-pearl);
	--farm_border: var(--clr-lightnavy);
	--farm_card_tx: var(--clr-black);
	--farm_card_bg: var(--clr-pearl);
	--farm_card_border: var(--clr-darkgray);
  
	--rem: 1rem;
	font-size: var(--rem);
  
	--w: calc(5*var(--rem));
	--h: calc(6*var(--rem));
	--i: calc(2*var(--rem));
  
	display: grid;
	gap: 0.5em;
	overflow-x: hidden;
	overflow-y: auto;
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
  }
  
  .characters, .weapons{
	width: 100vw;
  }
  
  .row {
	font-size: 1em;
  
	--min: calc(1.4*var(--w));
	--max: calc(3*var(--w));
  
	display: grid;
	width: 100%;
	margin-bottom: 0.4em;
	grid-template-columns: minmax(var(--min), var(--max)) max-content;
	grid-template-rows: max-content max-content;
	place-content: center;
	background-color: var(--color);
	color: var(--farm_tx);
  }
  
  .weapons .row {
	--max: calc(4*var(--w));
  }
  
  .row__id--chr{
	grid-row: span 2;
	display: grid;
	place-content: center;
	place-items: center;
  }
  
  .name{
	font-size: 1em;
  
	text-align: center;
	font-weight: bolder;
	text-shadow: 0 0 0.7em var(--shadow);
  }
  
  .chr-image{
	max-width: var(--w);
	max-height: var(--h);
  }
  
  .row__asc, .row__tln, .row__wpn{
	font-size: 1em;
  
	display: grid;
	gap: 0.07em;
	grid-auto-flow: column;
	place-content: center start;
  }
  
  .row__asc{
	border-bottom: 0.2em solid var(--farm_border);
  }
  
  .inp {
	font-size: 1em;
	--spacing: 0;
  
	display: grid;
	grid-template-columns: repeat(2, min-content);
	width: calc(2*var(--i) + var(--spacing));
	padding: 0.2em 0;
	place-content: space-around space-between;
  }
  
  .inp input[type=text]{
	font-size: 1.2em;
  
	width: var(--i);
	border-radius: 2em;
	text-align: center;
	background-color: var(--shade);
	color: var(--input_tx);
  }
  
  .inp input:nth-of-type(2n){
	background-color: var(--input);
  }
  
  .farming{
	display: contents;
  }
  
  .farming__cont{
	position: relative;
	width: var(--w);
	height: var(--h);
	display: grid;
	grid-template-columns: min-content min-content;
	grid-template-rows: min-content min-content;
	place-content: center stretch;
	color: var(--farm_card_tx);
  }
  
  .item:only-child{
	--cw: var(--w);
	--ch: var(--h);
	font-size: 1em;
  }
  
  .item:not(:only-child){
	--cw: calc(var(--w)/2);
	--ch: calc(var(--h)/2);
	font-size: 0.9em;
  }
  
  .item{
	display: grid;
	width: var(--cw);
	height: var(--ch);
	border-radius: .2em;
	grid-template-rows: calc(100%*5/6) calc(100%/6);
	place-items: center;
	overflow: hidden;
	background-size: cover;
  }
  
  .item__image{
	max-width: 100%;
	max-height: calc(100%*5/6);
  }
  
  .item:not(:only-child) .item__need{
	width: 100%;
	line-height: 1em;
	place-self: end start;
	align-items: center;
	text-align: center;
	background-color: var(--farm_card_bg);
  }
  
  .total{
	font-size: 1em;
  
	grid-column: 1;
	grid-row: 1;
	display: grid;
	border-radius: 0.4em;
	width: calc(var(--w)/2);
	height: calc(var(--h)/2);
	border: 0.1em solid var(--farm_card_border);
	place-items: center;
	background-color: var(--farm_card_bg);
  }
  
  .total:nth-child(3){
	grid-column: span 2;
  }
  
  .total:nth-child(5){
	position: absolute;
	place-self: start center;
	height: 25%;
	opacity: 0.75;
  }
  
  .row__id--wpn{
	display: grid;
	font-weight: bolder;
	place-content: center;
	place-items: center;
  }
  
  .wpn-image{
	max-width: calc(0.6*var(--w));
	max-height: calc(0.6*var(--h));
  }
  
  .row__wpn{
	display: grid;
	grid-auto-flow: column;
	place-content: center start;
  }
  
  @media screen and (min-width: 767px) {
	.weapons .row{
	  --min: min-content;
	  --max: calc(5*var(--w));
	  column-gap: 0.5em;
	}
  
	.row__id--wpn{
	  display: grid;
	  grid-template-columns: max-content 1fr;
	}
  
	.wpn-image{
	  max-width: var(--w);
	  max-height: var(--h);
	}
  
	.row__asc, .row__tln, .row__wpn{
	  gap: 0.4em;
	}
  
	.inp {
	  --spacing: 0.4em;
	  margin-right: 0.5em;
	}
  
	.farming__cont--total{
	  width: calc(1.6*var(--w));
	  grid-template-columns: repeat(3, min-content);
	}
  
	.characters .farming__cont--total{
	  width: calc(3.6*var(--w));
	  grid-template-columns: repeat(5, min-content);
	}
  
	.row__asc .farming__cont--total:nth-child(1),
	.row__wpn .farming__cont--total:nth-child(1){
	  width: calc(4.6*var(--w));
	  grid-template-columns: repeat(5, min-content);
	}
  
	.total{
	  width: calc(var(--w)*3/5);
	  position: relative !important;
	  grid-row: 1/3;
	  grid-column: 1 !important;
	  place-self: center !important;
	  height: 100% !important;
	  opacity: 1 !important;
	}
  
	.characters .item, .farming__cont--total:nth-child(1) .item{
	  width: var(--w);
	  height: var(--h);
	}
  }
  
  @media screen and (min-width: 1024px) {
	.farming__cont--total{
	  width: calc(3.6*var(--w));
	  grid-template-columns: repeat(5, min-content);
	}
  
	.item{
	  width: var(--w);
	  height: var(--h);
	}
  }
  
  @media screen and (min-width: 1300px) {
	.characters .row{
	  grid-template-columns: minmax(var(--min), var(--max)) repeat(2, max-content);
	  grid-template-rows: max-content 0;
	  column-gap: 1em;
	}
  
	.wpn-image{
	  max-width: var(--h);
	  max-height: var(--h);
	}
  
	.row__asc, .row__tln, .row__wpn{
	  border: none;
	}
  }
  
  @media screen and (min-width: 1400px) {
	.row__tln{
	  margin-left: 1em;
	}
  }
  
  @media screen and (min-width: 1500px) {
	.farm{
	  --rem: 1.1rem;
	}
  }