.char{
	--char-btn-bgclr: color-mix(in hsl, var(--clr-black-dk), transparent);
	--char-txclr: var(--clr-white);
	--char-bgclr: var(--color);
	--char-shadowclr: var(--clr-black-dk);
	--char-opacity-dk: color-mix(in hsl, var(--clr-black-dk) 60%, transparent);
	--char-opacity: color-mix(in hsl, var(--clr-black-dk) 25%, transparent);
	--char-opacity-lt: color-mix(in hsl, var(--clr-white-lt), transparent);

	--char-max-txclr: var(--char-opacity-dk);
	--char-max-bgclr: var(--clr-ecru-hg);
	--char-btn-bdclr: var(--clr-black);
	--char-modify-txclr: var(--clr-black);

	position: relative;
	height: 100%;
	overflow: auto;
  background-color: var(--char-bgclr);
}

.char__close{
	--btn-txclr: var(--char-bgclr);

	position: absolute;
	right: 0;
	margin: 0.75em;
	z-index: 2;
	border-radius: 100%;
	background-color: var(--char-btn-bgclr);
}

.char__content{
  font-size: 2em;
  display: grid;
	height: 100%;
	color: var(--char-txclr);
}

.banner, .information{
	grid-area: 1/1;
}

.banner{
	position: relative;
	max-width: 100svw;
	place-content: end;
}

.banner__overlay{
	position: absolute;
	inset: 0;
	background: linear-gradient(transparent 50%, var(--char-bgclr) 100%);
}

.banner__img{
	display: block;
  width: 100%;
	float: right;
	object-fit: contain;
}

.information{
  padding: 0.5em;
	padding-top: 4em;
	display: grid;
	place-content: end start;
	z-index: 1;
}

.information > div{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
  text-shadow: 0 0 0.35em var(--char-shadowclr);
}

.name{
  font-size: 1.25em;
  font-weight: bold;
}

.element{
  width: 2em;
  height: 2em;
  background: radial-gradient(closest-side, var(--char-shadowclr), transparent);
}

.constellations{
  display: flex;
	min-width: 2em;
	height: 2em;
  padding: 0.25em;
  border-radius: 0.25em;
  align-items: center;
  justify-content: center;
  background-color: var(--char-opacity-dk);
	text-shadow: none;
}

.constellations.max{
  background-color: var(--char-max-bgclr);
  color: var(--char-max-txclr);
}

.details{
	font-size: 0.75em;
	padding-left: 0.25em;
}

.information button{
  display: grid;
  height: 2em;
  min-width: 2em;
  border-radius: 0.5em;
  padding: 0.25em;
  place-items: center;
	border: 0.05em solid var(--char-btn-bdclr);
  background-color: var(--char-opacity);
}

.edit svg{
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.editing{
  position: relative;
}

.modify{
  position: absolute;
  display: flex;
  top: -2.5em;
  right: -1em;
  gap: 0.25em;
}

.modify button{
  background-color: var(--char-opacity-lt);
  color: var(--char-modify-txclr);
}

.data{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: dense;
	padding: 0.5em;
	gap: 0.5em 0.25em;
}

/* Inputs */
.inputs{
	font-size: 0.9em;
	
	grid-column: 1/-1;
  display: grid;
	grid-auto-flow: dense;
  padding: 0.6em;
  gap: 0.5em 0.75em;
  place-content: center;
  border-radius: 0.5em;
  background-color: var(--char-opacity);
}

.farm{
	grid-column: span 2;
	display: flex;
  gap: 0.25em;
	padding-bottom: 0.25em;
  place-items: center;
	place-content: center;
}

.farm input[type=checkbox]{
	width: 1em;
	height: 1em;
}

.phase, .normal, .skill, .burst{
  display: grid;
	grid-template-columns: 3.5em repeat(2, 2.5em);
	place-content: center;
  gap: 0.5em;
}

.phase{
	grid-row: span 3;
	grid-template-columns: 2.5em 2.5em;
}

.phase .input-text{
	grid-column: span 2;
	text-align: center;
}

.input-text{
	text-align: end;
}

.inputs input[type=text]{
	border-radius: 1em;
  background-color: var(--char-opacity-dk);
  text-align: center;
}

.inputs input:nth-of-type(2n){
  background-color: var(--char-opacity);
}

/* Materials */
.mats{
	display: grid;
  gap: 0.25em;
  border-radius: 0.25em;
  padding: 0.5em;
  place-content: center;
  background-color: var(--char-opacity-dk);
}

.mat__title{
	font-size: 0.8em;
  grid-column: span 3;
}

.mat__img{
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: var(--char-opacity-dk);
}

.mat__img img{
  width: 100%;
  height: 100%;
}

/* Stats */
.stats{
  grid-column: 1/-1;
	display: grid;
  grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: column;
  gap: 0.1em;
  border-radius: 0.25em;
  overflow: hidden;
}

.stats div{
	font-size: 0.8em;
  display: grid;
  place-items: center;
  padding: 0.4em;
  background-color: var(--char-opacity-dk);
	text-align: center;
}

@media screen and (min-width: 750px){
	.data{
		gap: 0.5em;
	}

  .inputs, .stats{
		grid-column: span 1;
		grid-row: 1;
	}

	.stats div{
		font-size: 1em;
	}

	.banner__img{
		width: 50%;
	}
}

@media screen and (min-width: 1024px){
	.char__content{
		place-self: baseline;
		padding-left: 1em;
	}

	.banner{
		position: absolute;
		inset: 0;
	}

	.banner__img{
		height: 100%;
		width: 100%;
	}

	.information, .data{
		z-index: 1;
		border-right: 0.25em solid var(--char-opacity-lt);
		background-color: color-mix(in hsl, var(--char-bgclr) 65%, transparent);
	}

	.data{
		place-content: start;
		row-gap: 1em;
	}

	.inputs, .stats{
		grid-column: span 2;
		grid-row: auto;
	}
}
