.options{
	--options-bgclr: var(--clr-ecru-hg);

	--options-select-txclr: var(--clr-ecru);
	--options-select-bgclr: var(--clr-comet-dkr);

	--options-dir-txclr: var(--clr-white);
	--options-dir-bgclr: var(--clr-comet-lt);
	--options-dir-hover-bgclr: var(--clr-comet-dk);

	--options-mode-txclr: var(--clr-comet-lt);
	--options-mode-bgclr: var(--clr-comet-dkst);
	--options-mode-bdclr: var(--clr-ecru-lt);
	--options-mode-selected-txclr: var(--clr-ecru-dk);
	--options-mode-selected-bgclr: var(--clr-ecru-lt);

	font-size: 1.6em;

	display: grid;
	grid-template-columns: repeat(2, auto) 1fr;
	place-content: center;
	gap: 0.5em;
	padding: 0.75em;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	background-color: var(--options-bgclr);
}

.options__select{
	padding: 0 1em;
	border-radius: 0.5em;
	background-color: var(--options-select-bgclr);
	color: var(--options-select-txclr);
}

.options__direction{
	--btn-txclr: var(--options-dir-txclr);
	--btn-bgclr: var(--options-dir-bgclr);
	--btn-hover-bgclr: var(--options-dir-hover-bgclr);
	font-size: 1.25em;
	min-height: 0;
	height: 100%;
	line-height: 0;
}

.options__direction:after{
	content: "\25B2";
	transform: rotate(180deg);
}
  
.options__direction.asc:after{
	transform: rotate(0);
}

.mode{
	display: flex;
	place-self: end;
	gap: 0.25em;
	padding: 0.125em;
	border: 0.125em solid var(--options-mode-bdclr);
	border-radius: 0.7em;
	background-color: var(--options-mode-bgclr);
}

.mode__btn{
	--btn-txclr: var(--options-mode-txclr);
	--btn-bgclr: var(--options-mode-bgclr);
	font-size: 1em;
	min-height: 0;
	border: 0;
	border-radius: 0.5em;
}

.selected{
	--btn-txclr: var(--options-mode-selected-txclr);
	--btn-bgclr: var(--options-mode-selected-bgclr);
	pointer-events: none;
}

/*CHARACTERS*/
.characters{
	--char-icon-shadowclr: color-mix(in hsl, var(--clr-comet-dk) 75%, transparent);

	--char-tag-txclr: var(--clr-white);
	--char-tag-bgclr: color-mix(in hsl, var(--clr-black-dk) 60%, transparent);
	--char-max-txclr: var(--char-tag-bgclr);
	--char-max-bgclr: var(--clr-ecru-hg);
}

.clr-5{background-color: var(--rank5);}
.clr-4{background-color: var(--rank4);}

.missing{
	opacity: 0.5;
}

.char__icon{
	position: absolute;
	top: 0;
	left: 0;
	height: 2.2em;
	margin: 0.1em;
	background: radial-gradient(closest-side, var(--char-icon-shadowclr), transparent);
}

.char__tag{
	font-size: 1.2em;

	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	padding: 0.25em;
	gap: 0.2em;
	border-bottom-left-radius: 0.5em;
	background-color: var(--char-tag-bgclr);
	color: var(--char-tag-txclr);
	font-weight: bold;
}

.max{
	box-shadow: var(--shadow);
	background-color: var(--char-max-bgclr);
	color: var(--char-max-txclr);
}

/*GRID*/
.grid{
	--card-txclr: var(--clr-ecru-lt);
	--card-bgclr: var(--clr-comet-dk);

	--size: 9em;

	display: grid;
	place-content: center;
	gap: 0.8em;
	padding: 0.5em 0.25em;
	grid-template-columns: repeat(auto-fill, var(--size));
}

.card{
	position: relative;
	display: grid;
	grid-template-columns: var(--size);
	grid-template-rows: var(--size) 3em;
	border-radius: 1em;
	overflow: hidden;
}

.card__image{
	max-width: var(--size);
	aspect-ratio: 1;
}

.card__name{
	font-size: 1.2em;

	display: grid;
	place-content: center;
	padding: 0.2em;
	background-color: var(--card-bgclr);
	color: var(--card-txclr);
	font-weight: bold;
	text-align: center;
}

/*TABLE*/
table{
	--table-txclr: var(--clr-black-dk);
	--table-bgclr: var(--clr-black);
	--table-bdclr: var(--clr-black);
	--table-shadowclr: color-mix(in hsl, var(--clr-black) 20%, transparent);

	--table-head-txclr: var(--clr-ecru);
	--table-head-bgclr: var(--clr-comet-dkr);

	--table-goal-txclr: var(--clr-white);
	
	position: relative;
	width: 100%;
	border-spacing: 0;
	background-color: var(--table-bgclr);
}

thead{
	position: sticky;
	top: 0;
	z-index: 2;
}

th{
	font-size: 1.2em;
	padding: 0.625em 0.2em;
	padding-bottom: 0.875em;
	border-right: 0.2em solid var(--table-shadowclr);
	background-color: var(--table-head-bgclr);
	color: var(--table-head-txclr);
	text-align: left;
}

.hdr--sort{
	position: relative;
	color: var(--table-head-bgclr);
	background-color: var(--table-head-txclr);
}

.hdr--sort:after{
	content: "\25B2";
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50%;
	transform: rotate(180deg);
}
  
.hdr--sort.asc:after{
	transform: rotate(0);
}

td{
	position: relative;
	border-right: 0.1em solid var(--table-shadowclr);
	border-bottom: 0.2em solid var(--table-bdclr);
	padding: 0 0.4em;
	color: var(--table-txclr);
	vertical-align: middle;
}

.row__r-border{
	border-right: 0.2em solid var(--table-bdclr);
}

.row__farm{
	width: 1.5em;
	height: 1.5em;
	float: right;
}

.row__info{
	font-size: 0.75em;
}

.row__info .max{
	box-shadow: none;
}

.row__char{
	display: flex;
	place-items: center;
	font-weight: bolder;
}

.row__image{
	height: 5em;
	width: 5em;
}

.goal{
	color: var(--table-goal-txclr);
}


@media screen and (min-width: 750px){
	table{
	  font-size: 1.5em;
	}
  
	th{
		padding: 0.625em 0.5em;
	}

	.row__user{
		display: flex;
		gap: 0.5em;
	}
}

@media screen and (min-width: 1024px) {
	.options{
	  font-size: 2em;
		grid-template-columns: repeat(3, auto);
	  gap: 1em;
	}

	.mode{
		margin-left: 5em;
	}
  
	.grid{
	  font-size: 1.25em;
	}

	table{
		font-size: 1.6em;
	}

	td{
		padding: 0 0.5em;
	}

	.row__info{
		position: relative;
		font-size: 1em;
		width: 8em;
	}

	.row__image{
		margin-left: 1em;
		margin-right: 2em;
	}
}
