:root{
	--clr-white: #ffffff;
	--clr-pearl: #e9e5d9;
	--clr-lightgray: #d0cfd5;
	--clr-porcelain: #bfbfbf;
	--clr-gray: #949597;
	--clr-darkgray: #707483;
	--clr-charcoal: #404040;
	--clr-black: #313131;
	--clr-void: #1a1a1a;

	--clr-lightnavy: #4b5264;
	--clr-navy: #3f4555;
	--clr-darknavy: #303a4a;
	--clr-darkblue: #0a153a;
	--clr-gold: #cfbd93;
	--clr-yellow: #eec853;
	--clr-orange: #a2705a;
	--clr-lightyellow: #fbdb89;

	/*Black and Whites*/
	--clr-white-lt: hsl(0, 0%, 100%);
	--clr-white: hsl(0, 0%, 87.5%);
	--clr-white-dk: hsl(0, 0%, 75%);
	--clr-gray-lt: hsl(0, 0%, 62.5%);
	--clr-gray: hsl(0, 0%, 50%);
	--clr-gray-dk: hsl(0, 0%, 37.5%);
	--clr-black-lt: hsl(0, 0%, 25%);
	--clr-black: hsl(0, 0%, 12.5%);
	--clr-black-dk: hsl(0, 0%, 0%);

	/*Primary*/
	--clr-comet-ltst: hsl(222, 15%, 55%);
	--clr-comet-ltr: hsl(222, 15%, 48%);
	--clr-comet-lt: hsl(222, 15%, 41%);
	--clr-comet: hsl(222, 15%, 34%); /*#4A5265 ~7*/
	--clr-comet-dk: hsl(222, 15%, 27%);
	--clr-comet-dkr: hsl(222, 15%, 20%);
	--clr-comet-dkst: hsl(222, 15%, 13%);

	/*Secondary*/
	--clr-ecru-lt: hsl(41, 44%, 89%);
	--clr-ecru: hsl(41, 44%, 69%); /*#D3BD8E ~20*/
	--clr-ecru-dk: hsl(41, 44%, 49%);
	--clr-ecru-tone: hsl(41, 15%, 69%);

	/*Acents*/
	--clr-red: hsl(0, 100%, 75%);
	--clr-cyan: hsl(180, 100%, 50%);
	
	/*Custom*/
	--shadow: 0 0 0.75em rgba(0,0,0,.8);

	--anemo: #4a7e7f;
	--geo: #ba8b4d;
	--electro: #6559a4;
	--dendro: #7a9a4e;
	--hydro: #5a80aa;
	--pyro: #b65745;
	--cryo: #78adbe;
	--none: #b4b4b4;

	--star: #f6cd55;

	--rank1: #a4a4a4;
	--rank2: #5d8c81;
	--rank3: #6faaca;
	--rank4: #917ab1;
	--rank5: #9a6d43;
}

/* Initial font settings */
html{
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}

/* CSS Reset */
*{
	font-size: 1rem;
	/*Display*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	/*Color*/
	color: inherit;
	background-color: transparent;
	/*Text*/
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
	/*Other*/
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	user-select: none;
}

*::-webkit-scrollbar{
	display: none;
}

input::-ms-reveal,
input::-ms-clear{
	display: none;
}

/* 
========================================
BASE
========================================
*/

html,
body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: var(--clr-black);
}

body{
	display: flex;
	flex-direction: column;
}

header{
	order: 1;
	z-index: 10;
}

main{
	order: 2;
	flex: 1;
	overflow: scroll;
}

footer{
	order: 3;
	z-index: 10;
}

/* 
========================================
GLOBAL
========================================
*/

.btn{
	--invert: 1;

	--btn-txclr: var(--clr-comet);
	--btn-fillclr: var(--btn-txclr);
	--btn-bgclr: var(--clr-ecru-lt);
	--btn-bdclr: var(--btn-bgclr);

	--btn-hover-txclr: var(--clr-white);
	--btn-hover-fillclr: var(--btn-txclr);
	--btn-hover-bgclr: var(--clr-ecru-tone);
	--btn-hover-bdclr: var(--btn-hover-bgclr);

	font-size: 1.6em;
	/* Display */
	display: grid;
	grid-auto-flow: column;
	place-items: center;
	min-height: 2.4em;
	padding: 0.375em 0.75em;
	border: 1px solid transparent;
	border-radius: 0.25em;
	/* Color */
	fill: var(--btn-fillclr);
	color: var(--btn-txclr);
	background-color: var(--btn-bgclr);
	border-color: var(--btn-bdclr, transparent);
	/* Text */
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	/* Other */
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.btn .icon{
	filter: invert(var(--invert));
}

.btn:hover{
	fill: var(--btn-hover-fillclr);
	color: var(--btn-hover-txclr);
	background-color: var(--btn-hover-bgclr);
	border-color: var(--btn-hover-bdclr, transparent);
}

.btn--clear{
	--invert: 0;
	--btn-bgclr: transparent;
	--btn-hover-bgclr: rgba(0,0,0,0.25);
	border-radius: 100%;
}

/* Switch */
.switch{
	--switch-bgclr: var(--clr-comet-dkst);
	--switch-bdclr: var(--clr-ecru-lt);
	--switch-checked-bgclr: var(--clr-ecru);
	
	--toggle-txclr: var(--clr-ecru-dk);
	--toggle-bgclr: var(--clr-ecru-lt);
	--toggle-checked-txclr: var(--clr-comet-dk);

	--switch-pad: 0.25em;
	--toggle-size: 2.5em;
}

.switch__input{
	display: none;
}

.switch__cont{
	position: relative;
	
	display: grid;
	grid-template-columns: repeat(2, var(--toggle-size));
	box-sizing: content-box;
	gap: 0.5em;
	height: var(--toggle-size);
	padding: var(--switch-pad);
	border: 0.2em solid var(--switch-bdclr);
	border-radius: 10em;

	background-color: var(--switch-bgclr);

	cursor: pointer;
	transition: all .4s ease-in-out;
}

.switch__slider{
	position: absolute;
	top: var(--switch-pad);
	left: var(--switch-pad);
	height: var(--toggle-size);
	border-radius: 10em;
	fill: var(--toggle-txclr);
	background-color: var(--toggle-bgclr);
	transition: inherit;
}

.switch__icon--checked{
	display: none;
}

.switch__input:checked + .switch__cont{
	background-color: var(--switch-checked-bgclr);
}

.switch__input:checked + * > .switch__slider{
	left: calc(100% - var(--toggle-size) - var(--switch-pad));
	fill: var(--toggle-checked-txclr);
}

.switch__input:checked + * .switch__icon--checked{
	display: grid;
}

.switch__input:checked + * .switch__icon--unchecked{
	display: none;
}

/* SVG icons */
.icon-box{
	display: grid;
	place-content: center;
	padding: 0;
	aspect-ratio: 1;
}

.icon{
	width: 2em;
	height: 2em;
}

/* Dialog */
dialog{
	margin: auto;
}

dialog::backdrop{
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

/* Other */
.hide{
	display: none !important;
	visibility: hidden !important;
}

/* 
========================================
NAVBAR
========================================
*/

.nav{
	--nav-txclr: var(--clr-ecru-lt);
	--nav-bgclr: var(--clr-comet);
	--nav-bdclr: var(--clr-ecru);
	--nav-outline: 0.3em;
	--nav-border: 0.2em;

	--nav-highlightclr: var(--clr-comet-dk);

	--nav-icon-txclr: var(--clr-darkblue);

	--nav-hover-txclr: var(--nav-txclr);
	--nav-hover-bgclr: var(--clr-comet-lt);

	--nav-active-txclr: var(--clr-comet-dk);
	--nav-active-bgclr: var(--clr-ecru-lt);

	--nav-logout-bgclr: var(--clr-comet-dkr);

	position: fixed;
	z-index: 99;
	overflow: hidden;
	width: 0%;
	height: 100%;
	max-width: 400px;
	color: var(--nav-txclr);
	transition: 0.5s;
}

.nav .backdrop{
	position: fixed;
	inset: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.nav__container{
	overflow-x: hidden;
	overscroll-behavior: none;
	height: 100%;
	margin: var(--nav-outline);
	outline: var(--nav-bgclr) solid var(--nav-outline);
	border: solid var(--nav-bdclr) var(--nav-border);
	border-radius: 0.75em;
	background-color: var(--nav-bgclr);
}

.nav__content{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.nav__top,
.nav__bottom{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	background-color: var(--nav-highlightclr);
}

.nav__top{
	justify-content: space-between;
	padding: 1em;
	gap: 1em;
}

.nav__links{
	flex: 1;
	padding-top: 0.5em;
}

.nav__bottom{
	padding: 1em;
	font-weight: bolder;
}

/* Nav Elements */
.nav__profile{
	display: flex;
	align-items: center;
	min-width: 0;
	gap: 1em;
}

.nav__username{
	font-size: 1.6em;
	overflow: hidden;
}

.nav__btn{
	--invert: 0;
	--btn-fillclr: var(--nav-icon-txclr);
	--btn-hover-fillclr: var(--nav-icon-txclr);
	border-radius: 100%;
}

.nav__link{
	font-size: 2.5em;

	display: flex;
	align-items: center;
	margin: 0.25em 0;
	padding: 0.1em 0.5em;
	font-weight: bold;
}

.nav__link:hover:not(.nav__link--active){
	color: var(--nav-hover-txclr);
	background-color: var(--nav-hover-bgclr);
}

.nav__link--active{
	border-radius: 0.25em;
	color: var(--nav-active-txclr) !important;
	background-color: var(--nav-active-bgclr) !important;
}

.nav__link--active .icon{
	filter: invert();
}

/*
========================================
RESIN DIALOG
========================================
*/

.resin[open]{
	--resin-txclr: var(--clr-comet-dk);
	--resin-bgclr: var(--clr-ecru-lt);
	--resin-header-bgclr: var(--clr-comet);
	--resin-btn-border: var(--clr-comet-ltst);
	
	--resin-display-bgclr: var(--clr-ecru-dk);
	--resin-display-bdclr: var(--clr-comet-dkst);

	--resin-init-txclr: var(--clr-ecru-lt);
	--resin-init-bgclr: var(--clr-comet-dk);
	--resin-calc-bgclr: var(--clr-ecru);
	--resin-alt-bgclr: var(--clr-ecru-lt);
	--resin-sml-bgclr: var(--clr-ecru-tone);

	--resin-neg-txclr: var(--clr-comet-ltr);

	--resin-input-txclr: var(--clr-ecru-lt);
	--resin-input-bgclr: var(--clr-comet);

	display: flex;
	flex-direction: column;
	max-height: 85vh;
	border-radius: 1em;
	color: var(--resin-txclr);
	font-weight: bolder;
}

.resin__header{
	display: flex;
	flex-direction: row-reverse;
	padding: 0.5em;
	background-color: var(--resin-header-bgclr);
}

.resin__body{
	display: grid;
	grid-template-rows: 1fr;
	place-items: stretch center;
	min-height: 0;
	gap: 0.75em;
	padding: 0.5em 4em;
	background-color: var(--resin-bgclr);
}

.resin__btn{
	--invert: 0;
	--btn-bdclr: var(--resin-btn-border);
	border-width: 0.3em;
	border-radius: 100%;
}

.resin__display{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	overflow-y: scroll;
	padding: 0.75em;
	column-gap: 1em;
	border-radius: 0.5em;
	background-color: var(--resin-display-bgclr);
}

.resin__input{
	font-size: 2em;

	width: 5em;
	padding: 0.25em;
	border-radius: 2em;
	color: var(--resin-input-txclr);
	background-color: var(--resin-input-bgclr);
	text-align: center;
}

.resin__calc{
	font-size: 1.5em;

	grid-column: span 2;
	display: grid;
	grid-template-columns: subgrid;
	padding: 0.35em 1em; /*Rem so horizontal padding is consistent*/
	border-bottom: 1px solid var(--resin-display-bdclr);
	background-color: var(--resin-calc-bgclr);
}

.resin__calc--init{
	color: var(--resin-init-txclr);
	background-color: var(--resin-init-bgclr);
}

.resin__calc--40{
	background-color: var(--resin-alt-bgclr);
}

.resin__calc--10{
	font-size: 1em;
	background-color: var(--resin-sml-bgclr);
}

.resin__calc:nth-child(1 of .resin__calc--n){
	margin-top: 0.75em;
}

.resin__calc--n{
	color: var(--resin-neg-txclr)
}

.resin__value{
	text-align: center;
}

/*
========================================
HEADER
========================================
*/

.header{
	--header-bgclr: var(--clr-comet-dk);
	--header-icon-txclr: var(--clr-yellow);
	--header-icon-bgclr: var(--clr-comet-dkst);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	gap: 1em;
	padding: 0.1em 0.8em;
	box-shadow: var(--shadow);
	background-color: var(--header-bgclr);
}

.header__btn{
	--invert: 0;
	--btn-fillclr: var(--header-icon-txclr);
	--btn-hover-fillclr: var(--header-icon-txclr);
	min-height: 0;
	border-radius: 10em;
	padding: 0.3em;
	font-weight: bold;
}

.header__icon{
	font-size: 0.5em;
	padding: 0.4em;
	border-radius: 100%;
	background-color: var(--header-icon-bgclr);
}

.header__btn-txt{
	padding: 0 0.75em;
}

/* 
========================================
FOOTER
========================================
*/

.footer{
	--footer-txclr: var(--clr-ecru-lt);
	--footer-bgclr: var(--clr-comet-dk);
	--footer-bdclr: var(--clr-ecru);

	--footer-hover-txclr: var(--footer-txclr);
	--footer-hover-bgclr: var(--clr-comet-lt);

	--footer-active-txclr: var(--clr-comet-dk);
	--footer-active-bgclr: var(--clr-ecru-lt);

	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	place-content: center;
	gap: 1em;
	box-shadow: var(--shadow);
	color: var(--footer-txclr);
	background-color: var(--footer-bgclr);
}

.footer__menu{
	font-size: 2em;
	aspect-ratio: auto;
}

.footer__menu:hover{
	opacity: 0.5;
}

.footer__link{
	font-size: 1.8em;
	display: grid;
	place-items: center;
	place-content: center;
}

.footer__link:hover:not(.footer__link--active){
	color: var(--footer-hover-txclr);
	background-color: var(--footer-hover-bgclr);
}

.footer__link--active{
	color: var(--footer-active-txclr) !important;
	background-color: var(--footer-active-bgclr) !important;
}

.footer__link--active .icon{
	filter: invert();
}

/* 
========================================
LOADING
========================================
*/

.loading{
	--loading-txclr: var(--clr-white);
	--loading-bgclr: var(--clr-comet-dkr);

	font-size: 3em;
	display: grid;
	place-items: center;
	gap: 2rem;
	padding: 2em;
	border-radius: 0.2em;
	color: var(--loading-txclr);
	background-color: var(--loading-bgclr);
}

.loader{
	--loader-clr: var(--clr-ecru);

	width: 2em;
	border: 0.8rem dotted var(--loader-clr);
	border-radius: 50%;
	aspect-ratio: 1;
	animation: loadspin 3s linear infinite;
}

@keyframes loadspin {
	0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 
========================================
ALERT
========================================
*/

.alert{
	--alert-txclr: var(--clr-white);
	--alert-bgclr: var(--clr-comet-dkr);
	--alert-bdclr: var(--clr-ecru);

	position: absolute;
	z-index: 100;
	place-self: center;
	width: 40em;
	color: var(--alert-txclr);
	text-align: center;
}

.alert__msg{
	font-size: 2em;
	padding: 0.5em;
	margin: 0.5em 0;
	border: 0.05em solid var(--alert-bdclr);
	color: var(--alert-txclr);
	background-color: var(--alert-bgclr);
	-webkit-mask-image: linear-gradient(to right, transparent, rgba(0,0,0,0.95) 25% 75%, transparent);
	mask-image: linear-gradient(to right, transparent, rgba(0,0,0,0.95) 25% 75%, transparent);
}

/* 
========================================
TOOLTIP
========================================
*/

#tt{
	--tooltip-txcolor: var(--clr-white);
	--tooltip-bgcolor: var(--clr-comet-dkr);

	position: absolute;
	z-index: 98;
}

#ttcont{
	padding: 0.2em 0.3em;
	border-radius: 0.25em;
	color: var(--tooltip-txcolor);
	background: color-mix(in hsl, var(--tooltip-bgcolor) 75%, transparent);
}

/* 
========================================
BACKGROUNDS
========================================
*/

.r_1{
	background: url("../app/assets/Q1.webp") top left no-repeat;
	background-size: cover;
}

.r_2{
	background: url("../app/assets/Q2.webp") top left no-repeat;
	background-size: cover;
}

.r_3{
	background: url("../app/assets/Q3.webp") top left no-repeat;
	background-size: cover;
}

.r_4{
	background: url("../app/assets/Q4.webp") top left no-repeat;
	background-size: cover;
}

.r_5{
	background: url("../app/assets/Q5.webp") top left no-repeat;
	background-size: cover;
}

[data-stars = "1"]:after{
	content: "★";
	color: var(--star);
}

[data-stars = "2"]:after{
	content: "★★";
	color: var(--star);
}

[data-stars = "3"]:after{
	content: "★★★";
	color: var(--star);
}

[data-stars = "4"]:after{
	content: "★★★★";
	color: var(--star);
}

[data-stars = "5"]:after{
	content: "★★★★★";
	color: var(--star);
}

[data-color]{--color: var(--none);}
[data-color="Anemo"]{--color: var(--anemo);}
[data-color="Geo"]{--color: var(--geo);}
[data-color="Electro"]{--color: var(--electro);}
[data-color="Dendro"]{--color: var(--dendro);}
[data-color="Hydro"]{--color: var(--hydro);}
[data-color="Pyro"]{--color: var(--pyro);}
[data-color="Cryo"]{--color: var(--cryo);}

[data-color="3"]{--color: var(--rank3);}
[data-color="4"]{--color: var(--rank4);}
[data-color="5"]{--color: var(--rank5);}